html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji 'Hiragino Kaku Gothic Pro',
    'ヒラギノ角ゴ Pro', 'Yu Gothic Medium', '游ゴシック Medium', YuGothic,
    '游ゴシック体', 'メイリオ', sans-serif;
  font-size: 62.5%;
  background-color: #f7f7f9;
  color: #323232;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
li,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a,
a:active {
  text-decoration: none;
  color: #323232;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  margin: 4rem auto 4rem auto;
  width: 90%;
}

@media screen and (min-width: 481px) {
  .container {
    margin: 7.2rem auto 7.2rem auto;
  }
}
